<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myflowerproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/main_activity_background"
        android:label="Camelia Florist"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <activity
            android:name=".view.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".view.Notification"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".view.MyAccount"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".view.ChangePassword"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".fragment.ResetPasswordFragment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".fragment.SignIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.HomeFragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.ListItem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.ResetPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>